

*{
  margin: 0;
  padding: 0;
  font-family:"Poppins", sans-serif;
  box-sizing: border-box;
}

.container{
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #ebe1ff, #182C5D);
   display: flex;
   align-items: center;
   justify-content: center;
}

.calculator{
  
  background: linear-gradient(135deg, #440A4D, #182C5D);
  padding: 20px;
  border-radius: 10px;
}

.calculator form input{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
   5px 5px 15px rgba(0, 0, 0, 0.4) ;
   background: transparent;
   font-size: 20px;
   color: #F0F4F8; 
   cursor: pointer;
   margin: 10px;
   transition: all 0.2s ease-in-out; 
}

.calculator form input:hover {
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.05),
   3px 3px 8px rgba(0, 0, 0, 0.6) ;
  background: #3B5372;
}


form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
  color: #F0F4F8; 
}

form .display input .addition{
width: 68px;
position: absolute;
}
